administration/ws-client/src/wsdl/SynchronizationServiceImpl.wsdl


<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://wsserviceapi.administration.schonherz.hu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsserviceapi.administration.schonherz.hu/"
	name="SynchronizationServiceImpl">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://wsserviceapi.administration.schonherz.hu/"
				schemaLocation="http://192.168.0.14:7001/SynchronizationServiceImpl/SynchronizationServiceImpl?xsd=1" />
		</xsd:schema>
	</types>
	<message name="getUsersByRole">
		<part name="parameters" element="tns:getUsersByRole" />
	</message>
	<message name="getUsersByRoleResponse">
		<part name="parameters" element="tns:getUsersByRoleResponse" />
	</message>
	<message name="NotAllowedRoleException">
		<part name="fault" element="tns:NotAllowedRoleException" />
	</message>
	<message name="getUsersByRoleAndDate">
		<part name="parameters" element="tns:getUsersByRoleAndDate" />
	</message>
	<message name="getUsersByRoleAndDateResponse">
		<part name="parameters" element="tns:getUsersByRoleAndDateResponse" />
	</message>
	<portType name="SynchronizationService">
		<operation name="getUsersByRole">
			<input
				wsam:Action="http://wsserviceapi.administration.schonherz.hu/SynchronizationService/getUsersByRoleRequest"
				message="tns:getUsersByRole" />
			<output
				wsam:Action="http://wsserviceapi.administration.schonherz.hu/SynchronizationService/getUsersByRoleResponse"
				message="tns:getUsersByRoleResponse" />
			<fault message="tns:NotAllowedRoleException" name="NotAllowedRoleException"
				wsam:Action="http://wsserviceapi.administration.schonherz.hu/SynchronizationService/getUsersByRole/Fault/NotAllowedRoleException" />
		</operation>
		<operation name="getUsersByRoleAndDate">
			<input
				wsam:Action="http://wsserviceapi.administration.schonherz.hu/SynchronizationService/getUsersByRoleAndDateRequest"
				message="tns:getUsersByRoleAndDate" />
			<output
				wsam:Action="http://wsserviceapi.administration.schonherz.hu/SynchronizationService/getUsersByRoleAndDateResponse"
				message="tns:getUsersByRoleAndDateResponse" />
			<fault message="tns:NotAllowedRoleException" name="NotAllowedRoleException"
				wsam:Action="http://wsserviceapi.administration.schonherz.hu/SynchronizationService/getUsersByRoleAndDate/Fault/NotAllowedRoleException" />
		</operation>
	</portType>
	<binding name="SynchronizationServiceImplPortBinding" type="tns:SynchronizationService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="getUsersByRole">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="NotAllowedRoleException">
				<soap:fault name="NotAllowedRoleException" use="literal" />
			</fault>
		</operation>
		<operation name="getUsersByRoleAndDate">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="NotAllowedRoleException">
				<soap:fault name="NotAllowedRoleException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="SynchronizationServiceImpl">
		<port name="SynchronizationServiceImplPort" binding="tns:SynchronizationServiceImplPortBinding">
			<soap:address
				location="http://192.168.0.14:7001/SynchronizationServiceImpl/SynchronizationServiceImpl" />
		</port>
	</service>
</definitions>